body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}

.color {
  color: orangered;
}

.flexibale-container {
  display: flex;
  /* margin-bottom: 0px; */
}

.half-width {
  width: 50%;
  padding: 5%;
}

.half-width img {
  width: 80%;
}

.half-width p {
  text-align: justify;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orangered, orange);
  padding: 10px 40px;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 600;
}

.top-banner {
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 80px;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 10px 100px gray;
  text-align: justify;
  border-radius: 5px;
}

.experience-area {
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#web-second {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

#web-first {
  border-left: 10px solid;
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}

footer {
  text-align: center;
}
